@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Cantora+One|Roboto|Francois+One|Lemon&display=swap');

$primary: #fa4542;
$secondary: #ffffff;

a {
  color: $primary;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 60px;
}

h1 {
  font-family: 'Cantora One', sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
}

h2 {
  font-size: 1rem;
}

.after-auth {
  display: initial;
}

.before-auth {
  display: none;
}

.change-password-alert {
  color: red;
}

.card {
  margin: 0 0 1rem 0;
}

.dropdown-menu {
  border: 4px $primary solid;
  padding: 2px;
}

.logo {
  height: 5em;
  margin: 0 0 1rem 0;
}

.delete-btn,
.edit-btn {
  margin: 2px;
  padding: 5px 10px;
}

.modal-body {
  background-color: #fff;
  margin: 1px black solid;
}

.modal-content {
  background-color: transparent;
}

.modal-header {
  background-color: $primary;
  color: $secondary;
}

.modal-title {
  color: $secondary;
}

.navbar {
  min-height: 50px;
  padding: 4px 16px;
}

.nav-btn {
  background-color: $primary;
  color: #ffffff;
  display: flex;
  font-weight: 700;
  margin: 5px;
  padding: 4.5px 6px;
}

.navbar-nav {
  width: 100%;
}

.sign-in-alert {
  color: red;
}

.sign-up-alert {
  color: red;
}

.add-event-button,
.attend-button,
.sign-in-button {
  background-color: $primary;
  color: $secondary;
  display: flex;
  font-weight: 700;
  margin: 10px 0;
  padding: 5px 10px;
}

.sign-in-btn,
.sign-up-btn {
  background-color: $primary;
  color: $secondary;
  font-weight: bolder;
}
